<div class="card">  
  <div class="card-body">
    <h5 class="new-card-title" >Create Blog</h5>
      <form  #addBlogDetails="ngForm" (ngSubmit)="PostBlogDetails(addBlogDetails.value)" class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label" >Blog Name</label>
            <input type="text" class="form-control" id="validationCustom01" name="txtBlogName" ngModel required>      
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label" >Author Name</label>
            <input type="text" class="form-control" id="validationCustom02" name="txtAuthorName" ngModel required>     
          </div>
       
          <div class="col-md-4" >
            <label for="validationCustom03" class="form-label" >Blog Category</label>
            <input type="text" class="form-control" id="validationCustom03" name="txtBlogCategory" ngModel required>     
          </div>
         
          <div class="col-md-12">
            <label for="validationCustom05" class="form-label">Enter Article</label>
            
            <textarea type="text" class="form-control" id="validationCustom05" name="txtBlogArticle" ngModel required rows="5"></textarea>    
          </div>
          <div class="col-new-md">
            <button class="btn btn-primary" type="submit">Post</button>
          </div>
        </form>
  </div>
</div>
<hr>

